.movie-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(8,28,36,.98);
    z-index: 5;
    position: fixed;
    overflow: auto;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .movie-details { 
        position: absolute;
        width: 786px;
        height: 820px;
        z-index: 6;
        left: 50%;
        transform: translateX(-384px);
        top: 40px;
        @media(max-width: 786px){
            width: 100%;
            left: 0;
            transform: translateX(0);
            top: 0;
        }
        .background {
            width: 786px;
            height: 350px;
            overflow: hidden;
            .button-close {
                width: 40px;
                height: 40px;
                transition: 0.5s;
                background-color: none;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                .close {
                    transform: scale(2.2);
                    font-weight: 300;
                    line-height: 18px;
                    color: white;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    z-index: 7;
                }
                .button-close:hover {
                    background-color: #bc3b69;
                }
            }
            img {
                width: 100%;
                filter:brightness(0.2);
                @media(max-width: 786px){
                    width: 120%;
                    margin-left: -10%;
                }
                @media(max-width: 400px){
                    width: 150%;
                    margin-left: -25%;
                }
                @media(max-width: 300px){
                    width: 200%;
                    margin-left: -50%;
                }
            }
            @media(max-width: 786px){
                height: 300px;
                width: 100%;
            }
            @media(max-width: 500px){
                height: 220px;
            }
            .movie-titles {
                width: 50%;
                height: auto;
                justify-content: left;
                position: absolute;
                top: 122px;
                margin-left: 50%;
                padding: 20px 40px 20px 0px;
                box-sizing: border-box;
                .title {
                    margin: 0 auto;
                    font-size: 30px;
                    font-weight: 500;
                    color: #bc3b69;
                }
                .subtitle {
                    margin: 0 auto;
                    font-size: 14px;
                    font-weight: 300;
                    margin-top: 10px;
                    color: hsla(0,0%,100%,.7);
                }
                @media(max-width: 786px){
                    width: 100%;
                    text-align: center;
                    padding: 20px 40px 20px 40px;
                    margin: 0;
                }
                @media(max-width: 500px){
                    top: 50px;
                }
            }
        }
        @media(max-width: 400px){
            width: 100%;
            height: 250px;
        }
        .solid-back {
            width: 786px;
            height: 470px;
            background-color: whitesmoke;
            @media(max-width: 786px){
                width: 100%;
            }
            @media(max-width: 400px){
                height: 600px;
            }
            .description {
                width: 50%;
                height: 430px;
                position: absolute;
                box-sizing: border-box;
                padding: 40px 40px 40px 0;
                left: 50%;
                color: #081c24;
                font-weight: 300;
                line-height: 1.8;
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    color: #bc3b69;
                    margin: 0;
                }
                p {
                    font-size: 14px;
                    margin: 0 0 40px 0;
                }
                @media(max-width: 786px){
                    width: 100%;
                    padding: 20px;
                    left: 0px;
                }   
                @media(max-width: 400px){
                    height: auto;
                } 
            }
        }
        .movie-img {
            width: 40%;
            height: 450px;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            margin: 40px;
            @media(max-width: 786px){
               // visibility: hidden;
            }
            img {
                width: 100%;
            }
        }
    }
}





.hidden {
    display: none;
}