html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-nav {
    @media(max-width: 768px){
        height: 55px;
    }
	width: 100%;
	height: 75px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
    position: relative;
    
	.logo {
        @media(max-width: 768px){
            height: 55px;
        }
		background-color: #212F3C;
		width: 90px;
		height: 75px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.search-bar {
        @media(max-width: 768px){
            height: 55px;
        }
		width: 85%;
		height: 75px;
		background-color: white;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		
		#search-icon {
            @media(max-width: 768px){
                margin-left: 15px;
            }
			height: 17px;
			opacity: 0.6;
		}
	}
	#search-input {
		width: 80%;
		font-weight: 300;
		font-size: 16px;
		border: none;
		box-sizing: border-box;
		margin-left: 15px;
    }
    .nav-hamburger{
        @media(min-width: 768px){
            display: none;

        }
        display: block;
    
        width: 55px;
        height: 55px;
        top: 0;
        right: 0;
        cursor: pointer;
        background: #fff;
        border-left: 1px solid #f8f8f8;
        .bar{
            position: absolute;
            width: 23px;
            height: 1px;
            background: rgba(8,28,36,.5);
            transition: all .3s ease;
        }
        .bar:first-child{
            right: 10px;
            top: 20px;
        }
        .bar:nth-child(2){
            right: 10px;
            top: 28px;
        }
        .bar:nth-child(2)::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 23px;
            height: 1px;
            background: transparent;
            transition: all .3s ease;
        }
        
        .bar:nth-child(3){
            right: 10px;
            top: 36px;
        }
     
    }
    .nav-hamburger-active{
    
        .bar{
            display: block;
            position: absolute;
            width: 23px;
            height: 1px;
            background: rgba(8,28,36,.5)}
        .bar:first-child{
            display: block;
            width: 0;
        }
        .bar:nth-child(2){
            display: block;
            transform: rotate(-45deg);
        }
        .bar:nth-child(2):after{
            transform: rotate(-90deg);
            background: rgba(8,28,36,.5);
        }
        .bar:nth-child(3){
            display: block;
            width: 0;
        }
        }
}
.desktop-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	.side-bar {
        position: sticky;
        top: 75px;
        z-index: 1;
        background-color: white;
        width: 100px;
        height: 475px;
        display: flex;
        flex-direction: column;
        z-index: 4;
        .category-button {
            width: 100%;
            height: 100px;
            text-align: center; 
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid whitesmoke;
            box-sizing: border-box;
            cursor: pointer;
            a {
                text-decoration: none;
            }
            div {
                margin: 0 auto;
                opacity: 0.6;
                transition: .5s;
                img {
                    width: 21%;
                    margin-bottom: 5px;
                }
                h4 {
                    font-size: 9px;
                    line-height: 9px;
                    font-weight: 5700;
                    color: black;
                    margin: 0px;
                }
            }
        }
        .category-button:hover div {
            opacity: 1;
        }
    }

    }
    .side-bar-ham-act {
        position: fixed;
        top: 55px;
        z-index: 1;
        background-color: hsla(0,0%,100%,.98);
        width: 100%;
        height: calc(100% - 75px);
        display: flex;
        flex-direction: row;
        z-index: 4;
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
        .category-button-h {
            width: 25%;
            height: 100px;
            text-align: center; 
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid whitesmoke;
            box-sizing: border-box;
            cursor: pointer;
            a {
                text-decoration: none;
            }
            div {
                margin: 0 auto;
                opacity: 0.6;
                transition: .5s;
                img {
                    width: 21%;
                    margin-bottom: 5px;
                }
                h4 {
                    font-size: 9px;
                    line-height: 9px;
                    font-weight: 5700;
                    color: black;
                    margin: 0px;
                }
            }
        }
        .category-button-h:nth-child(2) {
            top: 55px;
            right: 0 ;
        }
        .category-button-h:nth-child(3) {
            top: 155px;
        }
        .category-button-h:nth-child(4) {
            top: 155px;
            right: 0%
        }
        .category-button-h:hover div {
            opacity: 1;
        }
        
    }
    .side-bar-ham {
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
        .category-button-h {
            width: 50%;
            height: 100px;
            text-align: center; 
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid whitesmoke;
            box-sizing: border-box;
            cursor: pointer;
            a {
                text-decoration: none;
            }
            div {
                margin: 0 auto;
                opacity: 0.6;
                transition: .5s;
                img {
                    width: 21%;
                    margin-bottom: 5px;
                }
                h4 {
                    font-size: 9px;
                    line-height: 9px;
                    font-weight: 5700;
                    color: black;
                    margin: 0px;
                }
            }
        }
        .category-button-h:hover div {
            opacity: 1;
        }
    }

#container-vertical {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.banner {
		background-image: url(../images/batman.jpg);
		width: 100%;
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 30%;
        position: relative;
		#banner-text {
			text-align: center;
			position: relative;
			font-size: 30px;
			font-weight: 500;
		}
	}
}
#container-vertical .banner:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.7;
}



.movie-container{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    background-color: #F1F0F0 ;
    .results{
        display: flex;
        flex-direction: column;
        padding: 10px;    
    }
    .category-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: 25px;
        width: 95%;
        .category-name {
            font-size: 18px;
            line-height: 20px;
            margin: 0;
            font-weight: 100;
            color: #081c24;
        }
        .button-view-all {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 60px;
            justify-content: space-between;
            text-decoration: none;
            color: black;
            opacity: 0.5;
            transition: 0.5s;
            h4 {
                font-size: 12px;
                font-weight: 100;
                margin: 0;
            }
            
        } 
        .button-view-all:hover {
            opacity: 1;
        }
        h6 {
            font-weight: 400;
            margin: 0;
            font-size: 13px;
        }
        .num-results{
            font-size: 12px;
            font-weight: 100;
            margin: 0;
        }
    }
    .movies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        .movie {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 25px;
            width: 20%;
            cursor: pointer;
            visibility: visible;
            @media(max-width: 1100px){
                width: 25%;
                padding: 15px;
            }
            @media(max-width: 1024px){
                width: 50%;
                padding: 10px;
            }
            .movie-poster {
                width: 100%;
                transition: .5s ease;
                img{
                    width: 100%;
                }
            }
            .movie-title {
                font-size: 14px;
                font-weight: 400;
                opacity: 0.8;
                transition: .3s ease;
                color: #838D91;
                padding-top: 8px;
            }
        
        }
        .movie:hover {
            .movie-poster {
                transform: scale(1.05);
            }
            .movie-title {
                color: black;
            }
        }
    }
    @media(max-width: 400px) {
        padding: 10px;
    }
    @media(max-width: 300px) {
        padding: 5px;
    }

    .load-more-div{
        display: flex;
        flex-direction: column;
        padding: 20px; 
        margin: auto;
    }
}

button {
    visibility: visible;
    width: 110px;
    height: 35px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid #081c24;
    color: #081c24;
    font-size: 12px;
    font-weight: 100;
    background: transparent;
    transition: 0.7s ease;
    cursor: pointer;
}
button:hover {
    color: whitesmoke;
    background: #081c24;
}

.hidden{
    display:none;
}

@media screen and (max-width: 768px){
    .movie-container{
        .movies{
            .movie:last-child{
                display: none;
            }
        }
    }
    .desktop-container{
        .side-bar{
            display: none;
        }
    }
}

@import "modal.scss"